<div class="container container-div">
    <div class="border rounded-0 role-div">
        <h1 class="text-center role-name">{{role.name}}</h1>
        <div class="d-flex flex-row justify-content-center role-atributes">
            <div class="d-flex flex-column align-items-end">
                <p><strong>Name:</strong></p>
                <p><strong>Permissions:</strong></p>
            </div>
            <div class="name">
                <p>{{role.name}}</p>
                <p *ngFor="let perm of role.permissions; let i = index">
                    <a routerLink="/admin/permissions">{{perm.name}}</a>
                </p>
            </div>
        </div>
        <div class="role-values">
            <a routerLink="/admin/roles"><button class="btn border rounded-0" type="button">Back to List</button></a>
            <a [routerLink]="['/admin/editRole', role._id]"><button class="btn btn-warning btn-edit"
                    type="button">Edit</button></a>
            <button class="btn btn-danger btn-remove" type="button"><i class="fa fa-trash"></i></button></div>
    </div>
</div>