<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" routerLink="/"></a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a class="nav-link" routerLink="users">Users</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" routerLink="roles">Roles</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" routerLink="permissions">Permissions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- 
<div *ngFor="let role of roles; let r = index">
    <input type="text" class="form-control" [(ngModel)]="role.name" [disabled]="!role.isEditable" />
    <button (click)="role.isEditable=!role.isEditable" *ngIf="!role.isEditable">Edit</button>
    <button *ngIf="role.isEditable" (click)="updateRow(r);role.isEditable=!role.isEditable">Save</button>
    <table class="style">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
            <th></th>
        </tr>

        <tr *ngFor="let perm of role.permissions; let i = index">
            <td>
                <input type="text" class="form-control" [(ngModel)]="perm.name" [disabled]="!perm.isEditable" />
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="perm.description" [disabled]="!perm.isEditable" />
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="perm.value" [disabled]="!perm.isEditable" />
            </td>
            <td>
                <button (click)="perm.isEditable=!perm.isEditable" *ngIf="!perm.isEditable">Edit</button>
                <button *ngIf="perm.isEditable" (click)="updateRow(r);perm.isEditable=!perm.isEditable">Save</button>
                <button (click)="deleteRow(i,r)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="d-flex justify-content-end div-btn">
                    <button style="width: 150px;" (click)="addRow(r)">Add Row</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="d-flex justify-content-end div-btn">
    <button style="width: 150px;" (click)="addRole()">Add Role</button>
</div> -->