.style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* font-family : inherit; */
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  .div-btn{
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .style td, .style th {
    border: 1px solid #ddd;
  }
  
  .style tr:nth-child(even)
  {background-color: #f2f2f2;}
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    text-align: center;
    background-color:rgb(127, 127, 127);
    color: white;
  }
  h1{
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 15px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  td{
    text-align: center;
  }
  
  .style button {
    width: 30%;
    margin:10px 10px;
    padding: 12px 20px ;
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  