.container-div{
    margin-top: 10%
}

.role-div{
    margin: 0px 20%;
}

.role-name{
    background-color: #e1d8d8;
}

.role-atributes{
    margin: 3% 0%;
}

.role-atributes p{
    font-size: 16px;
}

.name{
    margin-left: 10px;
}

.role-values{
    margin-bottom: 10px;margin-left: 50px;
}

button{
    margin: 0px 3px;
}

.btn-save{
    width: 60px;
    color: rgb(0,0,0);
}

.btn-remove{
    width: 50px;
}